h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 112px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
  margin: 20px 0;
  padding: 0;
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  width: 100%;
  background: url(../images/corsa_air_vent.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.white {
  background-color: #fff;
  color: #2980b9;
}
.blue {
  background-color: #2980b9;
  color: #fff;
}

/* Carousel Section */
.carousel-section {
  position: relative;
  margin-top: -80px;
  padding: 0;

}
.carousel-container {
  text-align: center;
  padding: 20vh 0 35vh 0;
  color: #fff;
  text-shadow: 2px 2px #222;
}
.carousel-title {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}

.carousel-button, .carousel-button:hover, .carousel-button:active, .carousel-button:focus {
  color: #fff;
  text-decoration: none;
}
.carousel-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #2980b9;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #2472a4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
  top: 20px;
  text-shadow: none;
}
.carousel-button:hover {
  background-color: #2e8ece;
}
.carousel-button:active {
  top: 25px;
  box-shadow: 0px 0px 0px #2472a4;
}
.carousel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 12px 0 0 0;
  color: #fff;
  font-size: 20px;
}


.main-section {
  min-height: 60vh;
  padding: 20px 0;
}
.section-title {
  font-size: 34px;
  text-align: center;
  margin: 10px 0;
}
.bg-danger {
  padding: 10px 10px;
  background-color: #e74c3c;
  text-align: center;
}

/* Google Maps */
.map-section {
 height: 650px;
 width: 100%%;
}
.map-section .row{
  padding: 0;
  margin: 0;
}
.map-section .row .col-xs-12{
  padding: 0;
  margin: 0;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0px;
  width: 100% !important;
  height: 650px;
}
#map-canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}
.map-text {
  text-align: center;
  margin-bottom: 20px;
}

/* About Container */
.about-ul {
  padding: 0;
  margin: 10px 0;
}
.about-ul li {
  list-style-type: none;
  background-color: #2980b9;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 10px 5px;
  text-align: center;
}
.about-ul li .fa {
  font-size: 30px;
}
.about-ul li .fa-caret-up {
  font-size: 45px;
}
.about-ul li:first-child, .about-ul li:nth-child(2) {
  background-color: transparent;
  color: #2980b9;
  padding: 0;
}
.about-ul li:nth-child(2) {
  margin: -10px 0 -16px 0;
}
.about-ul li:nth-child(3) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.about-ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about-offer {
  background-color: #2980b9;
  color: #fff;
  text-align: left;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 15px 0;
}
@media (max-width: 768px) {
  .carousel-title {
    font-size: 2.8em;
  }
  .carousel-footer {
    font-size: 18px;
  }
}


.logos {
 list-style: none;
 padding: 120px 0;
 margin: 0;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: stretch;
 align-content: flex-start;
}
.logos  li {
flex-grow: 1;
}
.logos  li  a{
}
.logos li a img{
  max-height: 76px;
}
