.map-info {
  max-height: 550px;
  min-width: 263px;
  width: 28%;
  background-color:  #fff;
  padding: 20px;
  position: relative;
  bottom: -50px;
  font-size: 14px;
}
.map-info h1{
  text-align: center;
  font-size: 36px;
  margin: 0;
}
.map-text {
  padding-top: 15px;
}
.map-social-button {
  background-color: transparent;
  padding: 8px 14px;
  font-size: 16px;
  display: block;
  border: 1px solid #2980b9;
  border-radius: 2px;
  color: #2980b9;
  text-align: center;
}

.map-social-button:hover {
  background-color: #2980b9;
  color: #fff;
  text-decoration: none;
}
